html,
body {
  width: 100%;
  height: 100%;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  nav {
      background: black;
  }

  h1 {
      color: white;
      font-family: Lato;
  }